@(form: Form[(String)])(implicit flash: Flash)

<html>
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>

        @helper.form(routes.Application.loginPost) {

            <h1>Google Account Sign in</h1>

            @form.globalError.map { error =>
                <p class="error">
                    @error.message
                </p>
            }
            @flash.get("error").map{ error =>
                <p class="error">
                    @error
                </p>
            }.getOrElse("")


<input type="hidden" name="openid" value="https://www.google.com/accounts/o8/id">
        <p>
                <button type="submit" id="loginbutton">Login</button>
            </p>
        }
    </body>
</html>
