@(pk: Long, itemForm: Form[Item])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {

    <h1>Edit item</h1>

    @form(routes.ItemsController.update(pk)) {

        <fieldset>

            @inputText(itemForm("name"),  '_label -> "Item name")
            @inputText(itemForm("price"), '_label -> "Price")
            @inputText(itemForm("sales"), '_label -> "Sales")
            @inputText(itemForm("total"), '_label -> "Total")

            @inputText(itemForm("supID"), '_label -> "supID")

        </fieldset>

        <div class="actions">
            <input type="submit" value="Save this item" class="btn primary"> or
            <a href="@routes.ItemsController.list()" class="btn">Cancel</a>
        </div>

    }

    @form(routes.ItemsController.delete(pk), 'class -> "topRight") {
        <input type="submit" value="Delete this item" class="btn danger">
    }

}
