@(entity: Item)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {

  <h1>Show item</h1>

  <table>
  <tbody>
    <tr>
      <td>Item id</td>
      <td>@entity.id</td>
    </tr>
    <tr>
      <td>Item name</td>
      <td>@entity.name</td>
    </tr>
    <tr>
      <td>Supplier</td>
      <td></td>
    </tr>
    <tr>
      <td>Price</td>
      <td>@entity.price</td>
    </tr>
    <tr>
      <td>Sales</td>
      <td>@entity.sales</td>
    </tr>
    <tr>
      <td>Total</td>
      <td>@entity.total</td>
    </tr>
  </tbody>
  </table>

  <div class="actions">
  <a href="@routes.ItemsController.edit(entity.id.get)" class="btn">Edit</a>
  or <a href="@routes.ItemsController.list()" class="btn">Cancel</a>
  </div>

  @form(routes.ItemsController.delete(entity.id.get), 'class -> "topRight") {
    <input type="submit" value="Delete this item" class="btn danger">
  }

}
