@(message: String)(implicit session: Session)

@main {

    <head>
        <title>サンプルページ</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
@if(session.get("_user_openid")) {
        <h1>@message</h1><br>
} else {
        <h3><a href="/login">ログインはこちらから</a></h3><br>
}
        <h3><a href="/targets">ターゲット一覧管理画面はこちらから</a></h3><br><br>
        <h3><a href="/kampars">かんぱる一覧はこちらから</a></h3><br><br>

ここにカッコイイデザイナーズHTMLページが埋め込まれるよ。はやくはやくー<br>
<a href="/assets/samplehtml/index.html">サンプルHTML</a><br>
    </body>

}
