@(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>Coffee database</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>

        <header class="topbar">
            <h1 class="fill">
                <a href="@routes.ItemsController.index()">
                    Play 2.1 kampar application &mdash; Item database
                </a>
                <a class="logout" href="@routes.Application.logout()">LOGOUT</a>
            </h1>
        </header>

        <section id="main">
            @content
        </section>

    </body>
</html>
