@(content: Html)(implicit session: Session)

<!DOCTYPE html>
<html>
    <head>
        <title>かんぱるから！</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>

        <header class="topbar">
            <h1 class="fill">
                <a href="@routes.Application.index()">
                    TOP
                </a>
                <a href="@routes.TargetsController.index()">
                    ターゲット一覧
                </a>
                <a href="@routes.KamparsController.index()">
                    かんぱる一覧
                </a>
@if(session.get("_user_openid")) {
                <a class="login" href="@routes.Application.logout()">LOGOUT</a>
}else{
                <a class="login" href="@routes.Application.login()">LOGIN</a>
}
            </h1>
        </header>

        <section id="main">
            @content
        </section>

    </body>
</html>
